@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VERISTOCK</h1>
    <p class="lead">gestor de inventarios</p>
    <p><a href="https://github.com/CamiloRobayo?tab=repositories" class="btn btn-primary btn-lg">ver fuente &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>JUAN CAMILO</h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>ROBAYO</h2>
        <p></p>
        
    </div>
    <div class="col-md-4">
        <h2>PANTOJA</h2>
        <p></p>
        
    </div>
</div>